<h1>{{title}}</h1>
{{#if user}}
<a href="/books/add" class="btn btn-primary">Add a new book</a>
{{/if}}

<table class="table-striped tbody tr:nth-of-type(2n+1)">
  <thead>
    <th>Title</th>
    <th>Author</th>
    <th>Genre</th>
    <th>Cover</th>
    {{#if user}}
    <th>Actions</th>
    {{/if}}
  </thead>
  {{#each dataset}}
  <tr>
    <td>{{this.title}}</Td>
    <td>{{this.author}}</Td>
    <td>{{this.genre}}</Td>
    <td><img src="{{this.image}}" width="150px"></Td>
    
    <td>
{{#if user}}
      <a href="/books/edit/{{this._id}}">Edit</a>
      <a href="/books/delete/{{this._id}}" onclick="return confirmDeletion()">Delete</a>
    {{/if}}
    </td>

  </tr>
  {{/each}}
</table>